<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style-snackbar.css">
</head>
<body>
    {{>navbar}}
    {{#if snackbar}}
    {{>snackbar}}
    {{/if}}
    <div class="hero">
        <video autoplay loop muted plays-inline class="back-video">
            <source src="videos/Pexels Videos 2235731.mp4" type="video/mp4">
        </video>
        <div class="content">
            <h1>The Easiest Way to<br>Book Tickets</h1>
            <p><i>Discover the ultimate travel experience with<br>ELECTROBUS.</i></p>
            <br>
            <a href="/explore">Explore</a>
        </div>
    </div>
    <script>
        {{#if snackbar}}
            console.log("SNACKBAR")
            var x = document.getElementById("snackbar");
            x.className = "show";
            setTimeout(function(){ 
                x.className = x.className.replace("show", ""); 
                }, 3000);
        {{/if}}
    </script>
</body>
</html>